html
  head
    title= "Photobooth"
    link(rel='stylesheet' href='/css/photos.css')
  body
    each photo in photos
      div(class='responsive')
        div(class='gallery')
          a(target='_blank' href=('/photos/' + photo))
            img(width='600' height='400' src=('/photos/' + photo))