body {
    margin: 0;
    background-color: black;
    font-family: Raleway;
}

.fullsize {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fullwidth {
    width: 100vw;
}

.fullheight {
    height: 100vh;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    height: 100px;
    width: 100px;
    font-size: 4.5rem;
    background-color: #427D9D;
    border-radius: 50%;
    display: inline-block;
    opacity: 80%;
    color: #DDF2FD;
}

#instructionView {
    position: relative;
    z-index: 2;
    text-align: center;
}

#startInstructions {
    background-color: #164863;
    opacity: 90%;
    padding: 20px 0px 20px 0px;
    color: #DDF2FD;
    top: 0px;
    position: fixed;
    width: 100vw;
}

#qrCodeBox {
    background-color: #DDF2FD;
    box-shadow: 0 0 5px 10px #DDF2FD;
    padding: 0px 0px 5px 5px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#qrcode {
    width: 128px;
    height: 128px;
}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v29-latin-regular.woff2') format('woff2');
}